pymupdf==1.24.14
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
easyocr==1.7.2
langchain-text-splitters==0.3.2
python-dotenv==1.0.1
pinecone==5.0.0
langchain-core==0.3.17
langchain-community==0.3.7
euriai==1.0.32
boto3==1.35.85
fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
streamlit==1.40.1

-e .